<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941759625273-i4igi6jqnk91p0j916uth4sp7sbtm2j8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941759625273-i4igi6jqnk91p0j916uth4sp7sbtm2j8</string>
	<key>API_KEY</key>
	<string>AIzaSyCMLZJ0TEDpkSsFLs8d88whrZUynbro4HI</string>
	<key>GCM_SENDER_ID</key>
	<string>941759625273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nearform.notificationsdemo</string>
	<key>PROJECT_ID</key>
	<string>notifications-demo-6517b</string>
	<key>STORAGE_BUCKET</key>
	<string>notifications-demo-6517b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941759625273:ios:cfbb4e7da48dd6aa3e35e8</string>
</dict>
</plist>